{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "extends": ["plugin:react/recommended", "prettier", "eslint:recommended", "next"],
  "plugins": ["react", "prettier", "next", "react-hooks"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "warn"
  }
}
